NET Clk LOC = P11;
NET Reset LOC = L3;
NET Left LOC = B4;
NET Right LOC = K3;
NET LA LOC = N4;
NET LB LOC = P4;
NET LC LOC = G1;
NET RA LOC = P7;
NET RB LOC = M11;
NET RC LOC = M5;
NET Clk CLOCK_DEDICATED_ROUTE = FALSE;