NET In3 LOC = N3;
NET In2 LOC = E2;
NET In1 LOC = F3;
NET In0 LOC = G3;
NET A LOC = B2;
NET B LOC = A3;
NET C LOC = J3;
NET D LOC = B5;
NET E LOC = C6;
NET F LOC = B6;
NET G LOC = C5;
NET SegSel LOC = B7;