//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 10 14:22:37 2023
//! **************************************************************************

SCHEMATIC START;
COMP "LA" LOCATE = SITE "N4" LEVEL 1;
COMP "LB" LOCATE = SITE "P4" LEVEL 1;
COMP "LC" LOCATE = SITE "G1" LEVEL 1;
COMP "Left" LOCATE = SITE "B4" LEVEL 1;
COMP "DivRst" LOCATE = SITE "P11" LEVEL 1;
COMP "RA" LOCATE = SITE "P7" LEVEL 1;
COMP "RB" LOCATE = SITE "M11" LEVEL 1;
COMP "RC" LOCATE = SITE "M5" LEVEL 1;
COMP "Right" LOCATE = SITE "K3" LEVEL 1;
COMP "Reset" LOCATE = SITE "L3" LEVEL 1;
COMP "Clk" LOCATE = SITE "B8" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

